#footer {

    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    background-color: #f0f0f0;

}

.footer-wrapper {

    max-width: 1070px;
    height: 100px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    top: 0;
    right: 0;
    width: 100%;
    margin: 0 auto;

    li {

        list-style-type: none;
        display:inline-block;
        margin-left: 30px;

    }

    a {

        text-decoration: none;
        font-size: 14px;
        line-height: 24px;
        color: #000;
        font-family: $primary-font;

    }

}
