$grey: #696969;


//fonts
@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Ubuntu&display=swap');

// Font weights
$thin     : 100;
$light    : 300;
$regular  : 400;
$normal   : 600;
$semibold : 700;
$bold     : 900;

//Font failies
$primary-font    : 'Playfair Display', serif;
$secondary-font  : 'Ubuntu', sans-serif;

//Colors

$darkGrey   : #696969;
$secondary-color : #b4ad9e;